<section>
  <header>
    <h1>Criar curso</h1>
  </header>
</section>

<mat-divider></mat-divider>

<section class="create-course">
  <form [formGroup]="form">
    <div class="row">
      <mat-form-field appearance="outline" class="col-6">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Nome do curso" formControlName="name" required>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline" class="col-6">
        <mat-label>Autor</mat-label>
        <input matInput placeholder="Nome do autor" formControlName="author" required>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline" class="col-8">
        <mat-label>Selecione um assunto</mat-label>
        <mat-select formControlName="subject">
          <mat-option value="valid">Java</mat-option>
          <mat-option value="invalid">C++</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-8">
        <mat-chip-list #chipList aria-label="Palavras chaves">
          <mat-chip
            *ngFor="let keyword of keywords"
            [selectable]="true"
            [removable]="true"
            (removed)="remove(keyword)">
            {{keyword}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="Adicionar palavra chave..."
            #fruitInput
            formControlName="keywords"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline" class="col-10">
        <mat-label>Descrição</mat-label>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"cdkAutosizeMinRows="5" cdkAutosizeMaxRows="10" formControlName="description"></textarea>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <h2>Capitulos</h2>
    <a mat-flat-button color="accent" class="float-right" [routerLink]="'/courses/create'">
      <mat-icon>add</mat-icon>
      Adicionar capitulo
    </a>
    <div class="row">
      <mat-list role="list">
        <mat-list-item *ngFor="let chapter of chapters" role="chapter">
           <button mat-button (click)="editCourse()">
              <mat-icon>edit</mat-icon>
              {{ chapter }}
           </button>
        </mat-list-item>
      </mat-list>
    </div>

    <div class="row">
      <div class="col align-self-end">
        <button mat-raised-button class="float-right" color="primary">
          Criar curso
        </button>
      </div>
    </div>
  </form>
</section>
