<div *ngFor="let course of courses">
  <app-specific-course [course]="course.course" [purchased]="true"></app-specific-course>
</div>

<div class="my-4" *ngIf="courses.length === 0">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <div class="alert alert-info text-center" role="alert">
        Nenhum curso encontrado!
      </div>
    </div>
    <div class="col-4"></div>
  </div>
</div>

<div class="text-center" *ngIf="hasMore">
  <button mat-icon-button color="primary" (click)="load()">
    <span class="material-icons">expand_more</span>
  </button>
</div>
