<mat-card>
  <mat-card-header>
    <mat-card-title>Cursos</mat-card-title>
    <!-- <mat-card-subtitle>Lista de cursos top!</mat-card-subtitle> -->
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Ex: Nome do curso</mat-label>
      <input matInput type="text" [formControl]="searchCourse">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <a mat-flat-button color="accent" class="float-right" [routerLink]="'/courses/create'">
      <mat-icon>add</mat-icon>
      Criar curso
    </a>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Título</th>
          <th scope="col">Autor</th>
          <th scope="col">Descrição</th>
          <th scope="col">Data</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courses" (click)="selectCourse(course)">
          <th>{{ course.name }}</th>
          <th>{{ course.author.name }}</th>
          <th>{{ course.description }}</th>
          <th>{{ course.creationDate | date:'dd/MM/yyyy' }}</th>
          <th>{{ course.status }}</th>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
  <mat-card-footer>
    <div class="text-right">
      <mat-paginator></mat-paginator>
    </div>
  </mat-card-footer>
</mat-card>
