<footer class="fixed-bottom mt-5">
  <div class="footer p-1 shadow mb-1 ml-2 mr-2 rounded">
    <div class="container">
      <div class="row text-center">
        <div class="col-1">-</div>
        <div class="col-1">-</div>
        <div class="col-1">-</div>
        <div class="col-1">-</div>
        <div class="col-1">-</div>
        <div class="col-1">-</div>
        <div class="col-1">-</div>
        <div class="col-1">-</div>
        <div class="col-1">-</div>
        <div class="col-1">-</div>
        <div class="col-1">-</div>
        <div class="col-1">-</div>
      </div>
    </div>
  </div>
</footer>
