<mat-drawer-container class="drawer-container" hasBackdrop="false">
  <mat-drawer #drawer class="drawer" mode="push">
    <mat-nav-list>
      <a mat-list-item class="menu" type="button" aria-label="Toggle sidenav" (click)="drawer.toggle()">
        <mat-icon class="material-icons">menu</mat-icon>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/route1" routerLinkActive="active">
        <mat-icon class="material-icons">create</mat-icon><span class="navigation-item-label">My first link</span>
      </a>
      <a mat-list-item routerLink="/route2" routerLinkActive="active">
        <mat-icon class="material-icons">how_to_reg</mat-icon><span class="navigation-item-label">My second link</span>
      </a>
      <a mat-list-item routerLink="/route3" routerLinkActive="active">
        <mat-icon class="material-icons">add_comment</mat-icon><span class="navigation-item-label">My third link</span>
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="drawer-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
