html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  //padding-top: 56px;
}

.break-word {
  word-break: break-all;
}

.snack-warning {
  color: #000 !important;
  background-color: var(--warning) !important;
}

.snack-success {
  color: #FFF !important;
  background-color: var(--success) !important;
}

.fixed-bottom {
  z-index: 999 !important;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:hover {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4169e1;
}
