<h1 class="mat-display-">Curso nome</h1>
<mat-divider></mat-divider>
<p>
  <strong>Autor:</strong> Fulano nome
</p>
<p>
  <strong>Data de publicação:</strong> 01/01/2020
</p>
<div class="row">
  <div class="col-2">
    <h3>Descrição</h3>
  </div>
  <div class="col-10">
    <mat-card>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar sagittis vehicula. Cras et dolor eu urna ultrices viverra egestas ac nibh. Phasellus magna nibh, aliquet quis tincidunt nec, ultricies ac risus. Etiam tellus tortor, consectetur id est vitae, accumsan gravida turpis. Vestibulum tempus purus at nibh rhoncus pulvinar. Integer sapien felis, venenatis ac vestibulum id, ullamcorper at nibh. Pellentesque enim ligula, finibus non odio ac, pellentesque fermentum diam. Suspendisse imperdiet vestibulum ultrices. Etiam laoreet facilisis posuere. Etiam lacus ligula, porta quis nisi vel, facilisis pulvinar tellus. Nullam facilisis sit amet elit ac malesuada. Pellentesque eget faucibus nisi.

      Curabitur viverra tellus diam, in imperdiet quam gravida at. Nam vel mauris odio. Nullam eleifend molestie dui. Quisque congue fringilla sodales. Curabitur non magna sed lectus congue interdum et a ex. Suspendisse consequat, dolor nec dignissim auctor, velit nulla auctor ipsum, eu sagittis magna sapien eget metus. Nam eu velit tristique, gravida leo ac, condimentum purus. Vivamus id sapien eleifend, porta leo et, tincidunt ex. Duis aliquam nulla et elit ultrices hendrerit. Proin nec lobortis elit. Pellentesque pellentesque auctor odio, nec lobortis erat. Sed a odio luctus, consectetur arcu lacinia, convallis purus. Nunc euismod ante eu pretium convallis. Fusce mauris sem, venenatis at pulvinar nec, convallis sit amet nibh. Ut pellentesque quam eros, eu varius ligula tincidunt eget. Donec eu sapien quam.
    </mat-card>
  </div>
</div>
<br><br><br>
<div class="row">
  <div class="col-12" [froalaEditor]>Hello, Froala!</div>
</div>
